
.mat-toolbar {
  background-color: #2c3e50;
  color: white;
  padding: 0 24px;
}
.spacer {
  flex: 1 1 auto;
}

button[mat-button] {
  color: white;
  background-color: green;
  font-weight: 500;
}


mat-icon {
  margin-right: 5px;
}
